body {
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
}

.light-section {
    background-color: #F5EAEF !important;
}

.dark-section .f-light {
    display: none !important;
}

.light-section .f-dark {
    display: none !important;
}

.footer {
    margin-top: auto !important;
}