.bg-theme {
    background-color: #F5EAEF;
    font-family: 'Montserrat';
}

.navbar-theme .navbar-brand {
    color: #884A6F;
}

.navbar-theme .navbar-brand:hover {
    color: #5f334e;
}

.navbar-theme .navbar-brand:focus {
    color: #633551;
}

.navbar-theme a.nav-link {
    color: #884A6F;
}

.navbar-theme a.nav-link:hover {
    color: #5f334e;
}

.navbar-theme a.nav-link:focus {
    color: #633551;
}

.navbar-divider {
    width: 1px;
    height: 25px;
    background: #884A6F;
}

.section {
    padding: 3rem !important;
    font-family: Montserrat;
}

.dark-section {
    color: #F5EAEF;
    background: #462B45;
}

.theme-section {
    background: #F5EAEF;
    color: #884A6F;
}

.light-section {
    background: #FFFFFF;
    color: #884A6F;
}

.black-section {
    background: #212529;
    color: #884A6F;
}

.section-one-leader {
    font-size: 32px;
}

.section-two-leader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    height: auto !important;
}

.detail-container {
    text-align: center;
}

.detail-container .detail-text {
    font-size: 22px;
}

.detail-container .detail-desc {
    color: #C6C6C6;
    font-size: 14px;
}

.icon-container {
    width: 75px;
    height: 75px;
    background: #F5EAEF;
    border-radius: 80px;
    color: #884A6F;
    width: 75px;
    height: 75px;
    background: #F5EAEF;
    border-radius: 80px;
    color: #884A6F;
    text-align: center;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.icon-container .material-icons {
    font-size: 34px;
}

.exampleContainer {
    padding-top: 20px;
}

.exampleCard {
    background-color: #F5EAEF;
    width: 100%;
    height: 410px;
    border-radius: 10px;
    display: flex;
}

@media only screen and (max-width: 900px) {
    .exampleCard {
        display: block;
    }

    .exampleBtns {
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
        height: 15% !important;
        padding-top: 10px !important;
    }

    .exampleBtn {
        margin-left: 5px;
        margin-right: 5px;
    }

    .exampleCodeBlock {
        height: calc(100% - 55px) !important;
    }

    .feature-block {
        display: block !important;
        
    }

    .feature-text-l {
        margin-bottom: 15px !important;
        text-align: center;
    }
    
    .feature-text-r {
        margin-top: 15px !important;
        text-align: center;
    }

    .feature-photo-r img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 100% !important;
        height: auto !important;
    }

    .feature-photo-l img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 100% !important;
        height: auto !important;
    }

    .section {
        padding: 1.5rem !important;
    }

    .sectionLead {
        display: block !important;
    }
}

.exampleBtns {
    display: block;
    margin-left: 20px;
    height: 100%;
    padding-top: 90px;
}

.exampleBtn:hover {
    background-color: #392338;
}

.exampleBtn:active {
    background-color: #2c1b2b;
}

.exampleBtn[active] {
    background-color: #2c1b2b;
}

.exampleBtn {
    width: 195px;
    height: 50px;
    text-align: center;
    background-color: #462B45;
    color: #FFFFFF;
    font-size: 3vw;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 50px;
    border-radius: 7px;
    user-select: none;
}

.exampleCodeBlock {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.examplePage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: none;
}

.examplePage[active] {
    display: block;
}

.feature-block {
    display: flex;
}

.feature-text-l {
    font-size: 30px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.feature-text-r {
    font-size: 30px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.feature-photo-r {
    margin-left: auto;
}

.feature-photo-l {
    margin-right: auto;
}

.feature-text .vscodeText {
    color: cornflowerblue;
}

.sectionLead {
    display: flex;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(95, 51, 78, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0px !important;
}

.logo-sections svg {
    fill: #884A6F;
    color: #884A6F;
    margin-left: 5px;
    margin-right: 5px;
}

.imgbh {
    margin-bottom: 6px;
    margin-top: -6px;
    display: block;
}

.navbar-toggler {
    display: none;
}