@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    padding: 3rem;
}

.codeViev[dark] {
}

.codeView {
    font-family: 'Fira Code',monospace;
    display: block;
    background-color: #f5eaef;
    height: 100%;
    width: 100%;
    color: #462b45;
    border: 1px solid #462b45;
    min-width: 350px;
}

.codeView .code {
    height: calc(100% - 20px);
    overflow: auto;
}

.codeView .statusBar {
    width: calc(100%);
    height: 20px;
    background-color: #462B45;
    display: flex;
    font-size: 14px;
    color: #F5EAEF;
    line-height: 20px;
    user-select: none;
}

.codeView .statusBar .Label {
    margin-left: 10px;
    width: 105px;
    border-right: 1px solid #F5EAEF;
    margin-left: 20px;
}

.codeView .statusBar .lineInd {
    margin-left: auto;
    margin-right: 20px;
}

.codeView .statusBar .verCode {
    width: 50px;
}

.codeView .code {
    overflow:auto;
    font-size: 14px;
}

.codeView .code .empty {
    height: 19px;
}

.codeView .code .line {
    display: flex;
    height: 19px;
}

.codeView .code .line .lineInd {
    width: 35px;
    text-align: right;
    margin-right: 5px;
    user-select: none;
}

.codeView .code .line .split {
    border-right: 1px solid #462B45;
}

.codeView .code .line .lineCode {
    width: 100%;
    margin-left: 10px;
    white-space:pre
}

