.section-one-leader {
  font-size: 32px;
  max-width: 700px;
}
.section-two-leader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  height: auto !important;
}
.detail-container {
  text-align: center;
}
.detail-container .detail-text {
  font-size: 22px;
}
.detail-container .detail-desc {
  color: #c6c6c6;
  font-size: 14px;
}
.exampleContainer {
  padding-top: 20px;
}
.exampleCard {
  background-color: #f5eaef;
  width: 100%;
  height: 410px;
  border-radius: 10px;
  display: flex;
}

.intBtns {
  display: flex;
}

.indBtns {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indBtns .br {
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .intBtns {
    display: none;
  }

  .indBtns {
    display: block;
  }

  .indBtns button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-block hr {
    margin-left: auto;
    margin-right: auto;
  }

  .exampleCard {
    display: block;
  }
  .exampleBtns {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 15% !important;
    padding-top: 10px !important;
  }
  .exampleBtn {
    margin-left: 5px;
    margin-right: 5px;
    font-size: max(1vw, 10px) !important;
  }
  .exampleCodeBlock {
    height: calc(100% - 55px) !important;
  }
  .feature-block {
    display: block !important;
    padding-right: 5vh;
    padding-left: 5vh;
  }
  .feature-text-l {
    margin-bottom: 15px !important;
    text-align: center;
  }
  .feature-text-r {
    margin-top: 15px !important;
    text-align: center !important;
  }
  .feature-photo-r img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  .feature-photo-l img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  .section {
    padding: 1.5rem !important;
  }
  .sectionLead {
    display: block !important;
  }
}
.exampleBtns {
  display: block;
  margin-left: 20px;
  height: 100%;
  padding-top: 90px;
}
.exampleBtn:hover {
  background-color: #392338;
}
.exampleBtn:active {
  background-color: #2c1b2b;
}
.exampleBtn[active] {
  background-color: #2c1b2b;
}
.exampleBtn {
  width: 195px;
  height: 50px;
  text-align: center;
  background-color: #462b45;
  color: #fff;
  font-size: max(1vw, 20px);
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 50px;
  border-radius: 7px;
  -webkit-user-select: none;
  user-select: none;
}
.exampleCodeBlock {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.examplePage {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
}
.examplePage[active] {
  display: block;
}
.feature-block {
  display: flex;
}
.feature-text-l {
  font-size: 30px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
.feature-text-r {
  font-size: 30px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.feature-text-r  hr {
  margin-left: auto;
}

.feature-photo-r {
  margin-left: auto;
}
.feature-photo-l {
  margin-right: auto;
}
.feature-text .vscodeText {
  color: #6495ed;
}
.sectionLead {
  display: flex;
}
.feature-photo-r img {
  max-width: 100% !important;
  height: auto !important;
}
.feature-photo-l img {
  max-width: 100% !important;
  height: auto !important;
}

.feature-text-p {
  font-size: 22px;
}

.feature-block hr {
  max-width: 50%;
}

.footer {
  margin-top: auto;
}

.display-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-single-fullSize {
  height: calc(100vh - 238px);
}