.body {
  font-family: "Montserrat";
}

.bg-theme {
  background-color: #f5eaef;
  font-family: "Montserrat";
}

.navbar-theme .navbar-brand {
  color: #884a6f;
}

.navbar-theme .navbar-brand:hover {
  color: #5f334e;
}

.navbar-theme .navbar-brand:focus {
  color: #633551;
}

.navbar-theme a.nav-link {
  color: #884a6f;
}

.navbar-theme a.nav-link:hover {
  color: #5f334e;
}

.navbar-theme a.nav-link:focus {
  color: #633551;
}

.navbar-divider {
  width: 1px;
  height: 25px;
  background: #884a6f;
}

.section {
  padding: 3rem !important;
  font-family: Montserrat;
}

.section .title {
  padding-top: 10px;
}

.dark-section {
  color: #f5eaef;
  background: #462b45;
}

.theme-section {
  background: #f5eaef;
  font-family: Montserrat;
  color: #884a6f;
}

.light-section {
  background: #ffffff;
  color: #884a6f;
}

.sponsors-section {
  background: #8c1a21;
  color: #ffffff;
}

.black-section {
  background: black;
  color: #884a6f;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(95, 51, 78, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0px !important;
}

.logo-sections svg {
  fill: #884a6f;
  color: #884a6f;
  margin-left: 5px;
  margin-right: 5px;
}

.imgbh {
  margin-bottom: 6px;
  margin-top: -6px;
  display: block;
}

/*
.navbar-toggler {
    display: none;
}

#navbarCollapse {
    display: none !important;
}

*/

.icon-container .material-icons {
  font-size: 34px;
}

.icon-container {
  width: 75px;
  height: 75px;
  background: #f5eaef;
  border-radius: 80px;
  color: #884a6f;
  width: 75px;
  height: 75px;
  background: #f5eaef;
  border-radius: 80px;
  color: #884a6f;
  text-align: center;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.icon-container .material-icons {
  font-size: 34px;
}

.light-section a {
  color: #884a6f !important;
}

.dark-section a {
  color: #f5eaef !important;
}

.link-sections a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  text-align: center;
}

.inner_scope {
  padding-left: 4em;
}

.btn-theme {
    color: #fff !important;
    background-color: #884a6f !important;
    border-color: #884a6f !important;
}