doctype html
html(lang='en')
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-ZLTTGZYE80")
    script
      |  window.dataLayer = window.dataLayer || [];
      |  function gtag(){dataLayer.push(arguments);}
      |  gtag('js', new Date());
      |  gtag('config', 'G-ZLTTGZYE80');
    meta(charset='UTF-8')

    // Facebook
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://ellie.behemehal.net")
    meta(property="og:title" content="Ellie Programing Language")
    meta(property="og:description" content="Ellie is a scripting engine that runs on embedded and sandboxed environments.")
    meta(property="og:image" content="https://ellie.behemehal.net/img/Social.png")


    // Twitter
    meta(property='twitter:url' content="https://ellie.behemehal.net")
    meta(property='twitter:title' content="Ellie Programing Language")
    meta(property='twitter:description' content="Ellie is a scripting engine that runs on embedded and sandboxed environments.")
    meta(property='twitter:image' content="https://ellie.behemehal.net/img/Social.png")

    meta(name='title' content='Ellie Programing Language')
    meta(name='description' content='Ellie is a scripting engine that runs on embedded and sandboxed environments.')
    meta(name='keywords' content='ellie,ellie programing language,program,programing language,behemehal')
    meta(name='robots' content='index, follow')
    meta(name='copyright' content='Behemehal')
    meta(name='language' content='English')
    meta(name='distribution' content='global')
    meta(name='revisit-after' content='5 days')
    meta(name='author' content='Behemehal')

    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="http://ellie.behemehal.net/img/EllieCharIcon@0,1x.png" type="image/x-icon")
    link(href='https://fonts.gstatic.com' rel='preconnect')
    link(href='https://fonts.googleapis.com' rel='preconnect')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' rel='stylesheet')
    link(href='./css/index.min.css' rel='stylesheet' type='text/css')
    link(href='./css/theme.css' rel='stylesheet' type='text/css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src='./js/codev.min.js' defer)
    script(src='./js/index.min.js' defer)
    title Ellie Programing Language
  body.d-flex.flex-column.h-100
    include ../includes/header.pug
    main
      section.theme-section.section.sectionLead
        p.section-one-leader Ellie is a scripting engine that runs on embedded and sandboxed environments.
        img.section-two-leader(src="./img/controller.png" alt="Ellie Controller" width="285" heigh="285")
      section.dark-section.section
        .row
          .col
            .detail-container
              .icon-container
                span.material-icons hail
              span.detail-text Portability
              br
              span.detail-desc Package your workspace run later
          .col
            .detail-container
              .icon-container
                span.material-icons memory
              span.detail-text Low memory usage
              br
              span.detail-desc Run your code in low memory devices
          .col
            .detail-container
              .icon-container
                span.material-icons running_with_errors
              span.detail-text Fail safe countermeasures
              br
              span.detail-desc Recover errors easily with protected per device framework

      section.light-section.section
        h2(name="examples") Examples
        .exampleContainer 
          .exampleCard
            .exampleBtns
              .exampleBtn(active target="1")
                p Classes
              .exampleBtn(target="2")
                p Function
              .exampleBtn(target="3")
                p Loops
              .exampleBtn(target="4")
                p Data Types
            .exampleCodeBlock
              .examplePage#examplePage1
              .examplePage#examplePage2
              .examplePage#examplePage3
              .examplePage#examplePage4

      section.dark-section.section
        .feature-block
          .feature-text-l
            | Write code with 
            span.vscodeText VSCode 
            | extension assistance, discover efficient ways for better softwares
          .feature-photo-r
            img(src="./img/vs.png")
      section.light-section.section
        .feature-block
          .feature-photo-l
            img(src="./img/ellieUp.png" width="500px" height="330px")
          .feature-text-r
            | Manage your robotic projects via EllieUp. Create, edit upload your projects to microcontrollers.
      section.dark-section.section
        .feature-block
          .feature-text-l
            | Import native libraries to engine easily have control over runtime
          .feature-photo-r
            img(src="./img/natv.png")

      //-
        section.light-section.section
          .feature-block
            .feature-photo-l
              div.d-flex.justify-content-around
                iframe.align-content-center(src="https://discord.com/widget?id=803571965276717127&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts")
            br
            .feature-text-r
              | Join our discord community get noticed about new releases
      //-
      
      section.sponsors-section.section
        h1.text-center Our Sponsors
        br
        h5.text-center Thanks to our supporters ellie can be maintained for forever! ❤
        .row.mt-5
          .col
            .detail-container
              a(href="https://www.deployhq.com/")
                img(src="./img/deployhq.svg" alt="deployhqlg" width="170px")
        br
        .d-flex.text-center.justify-content-center
          p Interested in becoming a supporter? Please let us&#160
          a(href="mailto:info@behemehal.net?subject=Sponsor") know

      include ../includes/footer.pug

