header.pb-3.mb-4
    nav.navbar.navbar-expand-md.fixed-top.bg-theme.navbar-theme
        .container-fluid
            a.navbar-brand(href='/')
                span.mt-5.mb-3 Ellie
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon

            ul.nav.col-12.col-md-auto.mb-2.justify-content-end.mb-md-0.collapse.navbar-collapse#navbarCollapse
                li
                    a.nav-link.px-2(href='#examples') Examples
                li
                    a.nav-link.px-2(href='/') Running
                li
                    a.nav-link.px-2(href='/') Engine
                li
                    a.nav-link.px-2(href='/') Tools
                li
                    a.nav-link.px-2(href='/') Releases
                li
                    a.nav-link.px-2(href='/') Packages
